<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-600">
    <div class="w-100 h-20">
      <div class="bg-red-500 fixed inset-x-0 text-center">
        Soy el navbar jeje
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nisi
        pariatur rerum earum officiis commodi. Ducimus eius fugiat, iste vitae
        harum quam possimus error necessitatibus? Minima excepturi laboriosam a
        quis deserunt in, cumque odit debitis consequatur hic quia quisquam,
        eaque iusto nulla vitae illo minus suscipit. Earum, praesentium quo!
        Sequi inventore eum animi voluptatem error quam, accusantium voluptates
        at hic corrupti optio in quibusdam atque consectetur debitis, dolorem,
        quidem deleniti? Ut quia eum aliquid sed optio repudiandae non neque ab
        odio. Voluptas impedit tempora modi, ipsum officia deleniti neque ipsam
        beatae quod illo praesentium nostrum ea adipisci. Eos earum eius veniam
        illo, odit labore quod. Laborum in sint, pariatur maiores a
        exercitationem magnam delectus officia nesciunt alias rerum perspiciatis
        dolor non ab fugit soluta provident, distinctio illo doloribus debitis
        voluptatem corrupti! Non earum, aliquid ea, quisquam error commodi
        consectetur aperiam sint eum voluptatibus nobis voluptate quasi
        blanditiis esse illum dolor adipisci facilis. Error, sapiente
        praesentium? Perspiciatis voluptatem accusantium in rem dolor, veritatis
        expedita. In deserunt illum, placeat eum, voluptas commodi fugiat iste
        perferendis labore dicta repudiandae corporis nam aperiam a dolores
        asperiores nihil ut sint voluptatum veniam sed enim ab nulla. Dolorum
        enim expedita, mollitia ut ad sed quas debitis sit consequatur saepe,
        blanditiis aliquam totam voluptates dolore modi accusamus praesentium,
        tenetur voluptatem vel. Optio asperiores ex laboriosam quidem ullam
        earum veritatis maiores ab et, officia quibusdam laborum, officiis harum
        voluptatum rem, corrupti similique tenetur! Expedita vel, eos commodi
        animi magnam numquam dicta doloribus, laudantium harum error cum
        voluptatibus id perferendis maxime, quasi ipsam ut accusamus assumenda
        earum officiis deserunt excepturi quam voluptas dolore. Aliquam,
        praesentium! Aperiam rem repellat neque placeat, dignissimos illo sit
        eum, sed voluptas voluptatum animi non voluptatem accusantium delectus
        ex. Ullam nemo sint ipsam tenetur, optio repellendus doloremque
        molestiae aliquid et sequi nihil ducimus ipsum rerum. Harum quo officiis
        ex quis repellendus sit deleniti modi impedit, sunt inventore aperiam
        voluptates odio mollitia rem perspiciatis incidunt dicta facilis
        necessitatibus excepturi ab, expedita sapiente libero beatae pariatur.
        Eaque aliquam inventore nesciunt explicabo soluta, error cum iste
        quisquam. Incidunt eos eius quia iure voluptatibus architecto eum dolore
        saepe. Ab amet eius perspiciatis sit exercitationem veniam quaerat
        ratione eveniet et id, doloribus reprehenderit dolorem doloremque quos
        aliquid incidunt sed? Blanditiis non vero maiores, earum eaque ex
        eveniet, enim quasi rem dolore deserunt, mollitia id sapiente ratione!
        Similique, quis distinctio vero culpa illum quasi molestias natus iure!
        Assumenda quos accusamus maxime laboriosam delectus beatae? Animi dolore
        ea veritatis perspiciatis libero ipsam temporibus minima numquam?
        Commodi cupiditate accusamus nihil architecto voluptates, quas nobis
        sapiente nostrum quam quaerat dignissimos facilis rerum, porro nemo,
        excepturi labore eius quidem soluta dolores ipsam provident? Aliquid
        neque repellendus sint provident eveniet pariatur! Atque enim dolore
        impedit id nobis eligendi, aliquid commodi illum cumque nostrum optio
        repellendus, magni inventore libero molestias ab recusandae provident
        temporibus illo, molestiae pariatur! Enim voluptatibus sint nam optio,
        vel suscipit aspernatur, sunt nesciunt minus consectetur adipisci
        excepturi incidunt dignissimos dolores ducimus laborum magnam
        perspiciatis numquam, debitis laboriosam deleniti? Sit, excepturi,
        doloribus ipsam sunt alias nisi sapiente harum praesentium blanditiis
        cum, similique totam reprehenderit ipsa eligendi saepe earum
        repellendus. Distinctio dolor doloremque ratione ullam fugiat debitis
        sed qui in mollitia eligendi velit blanditiis maxime impedit id quidem
        voluptatibus modi, repudiandae ab! Ipsam corporis, debitis harum eos
        atque cum ad rerum? Eligendi quidem similique voluptatum nihil laborum,
        saepe nobis, blanditiis itaque perspiciatis consectetur qui. Obcaecati,
        optio molestiae sunt soluta eveniet ab, nam alias, magni a vero aliquam
        saepe rerum quae. Voluptas iure similique labore magni temporibus, quasi
        obcaecati, iusto rerum explicabo aliquid culpa soluta minus fugit
        distinctio libero earum cum? Corporis enim sequi assumenda tempore
        cupiditate iste eligendi possimus veritatis quas praesentium aut vel
        dolorum illo dicta, porro in molestias. Iure dignissimos nihil dolorem
        rerum consequatur tempore assumenda, autem error quia ipsam culpa eos,
        ad expedita quisquam deserunt doloremque. Dolores aspernatur sapiente
        facilis tempore sit quam, saepe necessitatibus tenetur repellat ea
        possimus molestiae adipisci aliquid assumenda dolorem expedita sequi
        distinctio enim, fugit laudantium, dicta facere aliquam qui voluptatum.
        Voluptatum assumenda adipisci facere sed iure nemo suscipit eos dolores
        quod deleniti vitae, eaque ad voluptates enim odit voluptate laborum
        itaque, repellendus laboriosam modi sapiente cumque. Eos nihil iusto
        quis facere, saepe minima, maiores voluptates esse tenetur sunt animi
        aspernatur magni ratione nobis minus itaque. Perferendis culpa officia
        optio mollitia praesentium, tenetur eligendi repudiandae molestiae
        dolores corrupti delectus nisi nihil, dolorum est odit? Repudiandae
        facere ipsam aliquid qui, rerum iure praesentium molestias distinctio,
        esse blanditiis quasi. Itaque ea sunt voluptatibus dolore explicabo
        accusamus quibusdam? Voluptatem cupiditate vero, sit earum sunt velit
        modi esse explicabo eos accusantium at? Nobis reprehenderit earum
        exercitationem quis eum fugit? Nemo harum aut repellat fugit repudiandae
        quidem ut quam accusamus animi soluta, officiis aliquam eius ullam
        asperiores consequuntur impedit pariatur, voluptatibus sint id
        perferendis. Sit voluptatem adipisci vero officiis id beatae. Dicta,
        iure quis voluptas doloremque culpa, laborum earum pariatur eos,
        laudantium amet magni recusandae cumque blanditiis quidem quos.
        Exercitationem laboriosam ducimus mollitia sit qui saepe tempora esse
        nobis reiciendis enim, unde quis corporis quo ea rerum officiis!
        Voluptatem illum eaque exercitationem fugiat! Quod recusandae delectus
        alias dolorum iure, mollitia odit. Laudantium, facilis neque? Quidem,
        nesciunt excepturi? Eaque iste officia, a perferendis, tempore quisquam
        earum autem facilis maiores laborum cum accusantium dolore, modi hic
        assumenda dolor? Sit reiciendis distinctio unde magnam iusto dolorem
        asperiores laboriosam error nulla tempore veritatis atque magni amet,
        ducimus expedita alias blanditiis voluptatem ipsa? Repellendus sit nihil
        voluptas blanditiis nulla tenetur, odit, nobis, architecto dignissimos
        reprehenderit dolor ullam sapiente ex ducimus ipsa sint. Non minima
        facilis distinctio odit earum maiores quis voluptates autem quibusdam?
        Nostrum harum nesciunt error ipsa inventore libero nemo consequuntur
        eveniet earum consectetur! Ut doloribus sint, impedit commodi dolore
        aspernatur adipisci eius amet vero quas ducimus numquam blanditiis nihil
        dicta atque illo asperiores itaque expedita soluta veniam est corrupti
        praesentium. Autem eum magni reiciendis molestiae facere nihil, fugiat
        in ratione, soluta inventore odio consectetur obcaecati illo assumenda
        doloremque aspernatur ducimus optio mollitia. Dolore esse qui, neque
        commodi quos aut sint nesciunt, corporis reiciendis nisi earum ut.
      </p>
    </div>

    <div class="bg-slate-700 w-100 h-full">
      <div class="relative">
        <p class="text-2xl absolute bottom-0 left-0 right-0 top-10">Hola</p>
      </div>
    </div>
  </body>
</html>
